This is where I am going to write out my code for this project.

Louisville Animal Shelter Data: https://data.louisvilleky.gov/datasets/louisville-metro-ky-animal-service-intake-and-outcome/about
Nationwide Animal Shelter Data: https://www.shelteranimalscount.org/data-request-free-download/
Dallas Animal Shelter Data: https://www.dallasopendata.com/Services/Dallas-Animal-Shelter-Data-Fiscal-Year-2022-2023/f77p-sgrc/about_data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: et-xmlfile in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\melis\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\Melis\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

df = pd.read_csv('Animal_IO_Data.csv')

print(df.head())

    kennel animalid jurisdiction     intype insubtype               indate  \
0     ID08  A673162        40208      STRAY     FIELD  2021-02-21 00:00:00
1  FREEZER  A617968        40215  OWNER SUR     FIELD  2022-12-14 00:00:00
2      N40  A688268        40213  OWNER SUR       OTC  2021-01-19 00:00:00
3     DW19  A688176        40258     FOSTER    RETURN  2021-01-22 00:00:00
4   FOSTER  A688325        40218      STRAY       OTC  2021-01-21 00:00:00

    surreason   outtype  outsubtype              outdate animaltype sex bites  \
0       STRAY       RTO   IN KENNEL  2021-02-21 00:00:00        DOG   N     N
1       STRAY      EUTH   REQUESTED  2022-12-14 00:00:00        DOG   F     N
2   OTHER PET  ADOPTION     WALK IN  2021-01-22 00:00:00        CAT   S     N
3  OWNER DIED  TRANSFER  RESCUE GRP  2021-01-23 00:00:00        DOG   S     N
4       STRAY    FOSTER         NaN  2021-01-26 00:00:00        DOG   S     N

  petsize          color            breed sourcezipcode  ObjectId
0   LARGE          WHITE   SIBERIAN HUSKY         40218         1
1     MED  WHITE / BLACK    LABRADOR RETR         40218         2
2   KITTN         CALICO      DOMESTIC SH         40213         3
3   SMALL            TAN     CHIHUAHUA SH         40216         4
4     TOY            TAN  NORWICH TERRIER         40214         5

Want to import another city's data, to have a closer comparison.  I was seeing an erorr with the data before importing, so I did research and found the "usecols" function.

In [4]:
columns_to_include = ['Animal Type', 'Animal Breed', 'Intake Type', 'Intake Subtype', 'Intake Date', 'Outcome Type', 'Outcome Subtype', 'Month', 'Year']
df3 = pd.read_csv('Dallas_Animal_Shelter_Data_Fiscal_Year_2022_-_2023.csv', usecols=columns_to_include)
print(df3)

      Animal Type   Animal Breed      Intake Type Intake Subtype Intake Date  \
0             DOG  LABRADOR RETR       DISPOS REQ            OTC  03/01/2023
1             DOG    MIXED BREED  OWNER SURRENDER        APPOINT  07/05/2023
2             DOG    MIXED BREED            STRAY       AT LARGE  01/15/2023
3             DOG     POODLE MIN            STRAY       AT LARGE  03/09/2023
4             DOG  SCHNAUZER MIN         TRANSFER          STRAY  11/08/2022
...           ...            ...              ...            ...         ...
34801         CAT    DOMESTIC SH           FOSTER           DIED  06/18/2023
34802         CAT    DOMESTIC SH        TREATMENT        ILLNESS  06/25/2023
34803         CAT    DOMESTIC SH        TREATMENT        ILLNESS  07/06/2023
34804         CAT    DOMESTIC SH           FOSTER        APPOINT  07/10/2023
34805         CAT    DOMESTIC SH            STRAY       AT LARGE  06/01/2023

            Outcome Type Outcome Subtype   Month    Year
0               DISPOSAL        DISPOSAL  FY2024  FY2023
1               ADOPTION      WESTMORELD  FY2024  FY2023
2      RETURNED TO OWNER      WESTMORELD  FY2024  FY2023
3               TRANSFER         MEDICAL  FY2024  FY2023
4               TRANSFER         GENERAL  FY2024  FY2023
...                  ...             ...     ...     ...
34801               DIED       IN FOSTER  FY2024  FY2023
34802          TREATMENT       COMPLETED  FY2024  FY2023
34803          TREATMENT       COMPLETED  FY2024  FY2023
34804         EUTHANIZED         MEDICAL  FY2024  FY2023
34805             FOSTER        UNDERAGE  FY2024  FY2023

[34806 rows x 9 columns]

In [5]:
df2 = pd.read_excel('3 year 21-22-23 SAC Agg.xlsx')
print(df2.head)

<bound method NDFrame.head of     State  Year  Organizations  Intake - Relinquished By Owner Total-Feline  \
0      AK  2021              5                                          886
1      AK  2022              5                                         1128
2      AK  2023              5                                          911
3      AL  2021             17                                         1548
4      AL  2022             17                                         1419
..    ...   ...            ...                                          ...
148    WV  2022             14                                         1062
149    WV  2023             14                                         1253
150    WY  2021              9                                          975
151    WY  2022              9                                         1135
152    WY  2023              9                                         1302

     Intake - Stray At Large Total-Feline  \
0                                    1620
1                                    1878
2                                    1814
3                                    3414
4                                    3400
..                                    ...
148                                  4318
149                                  3823
150                                  1647
151                                  1985
152                                  2581

     Intake - Transferred In Total-Feline  \
0                                      85
1                                      51
2                                      45
3                                     707
4                                     816
..                                    ...
148                                   206
149                                   148
150                                   379
151                                   395
152                                   457

     Intake - Owner Intended Euthanasia Total-Feline  \
0                                                 37
1                                                 42
2                                                 42
3                                                  0
4                                                  3
..                                               ...
148                                                0
149                                                0
150                                               19
151                                               15
152                                               31

     Intakes - Other Intakes Total-Feline  \
0                                     133
1                                     146
2                                     122
3                                     644
4                                     503
..                                    ...
148                                   318
149                                   503
150                                   819
151                                   343
152                                   166

     Live Outcome - Adoption Total-Feline  \
0                                    2217
1                                    2158
2                                    2148
3                                    3816
4                                    4307
..                                    ...
148                                  2882
149                                  2955
150                                  2456
151                                  2673
152                                  3403

     Live Outcome - Returned To Owner Total-Feline  ...  \
0                                              365  ...
1                                              310  ...
2                                              223  ...
3                                               78  ...
4                                               65  ...
..                                             ...  ...
148                                             91  ...
149                                             33  ...
150                                            271  ...
151                                            269  ...
152                                            214  ...

     Intakes - Other Intakes Total-Canine  \
0                                     144
1                                     189
2                                     210
3                                    1953
4                                    2277
..                                    ...
148                                   534
149                                   613
150                                   656
151                                   474
152                                    99

     Live Outcome - Adoption Total-Canine  \
0                                     763
1                                    1106
2                                     993
3                                    6577
4                                    6681
..                                    ...
148                                  1787
149                                  2097
150                                  1894
151                                  2083
152                                  2114

     Live Outcome - Returned To Owner Total-Canine  \
0                                              948
1                                             1006
2                                              880
3                                             2101
4                                             2012
..                                             ...
148                                            826
149                                            644
150                                           1684
151                                           1645
152                                           1496

     Live Outcome - Returned To Field Total-Canine  \
0                                                0
1                                                0
2                                                0
3                                                1
4                                                0
..                                             ...
148                                              0
149                                              0
150                                              0
151                                              2
152                                              0

     Live Outcome - Transferred Out Total-Canine  \
0                                              3
1                                              1
2                                              8
3                                           3592
4                                           3190
..                                           ...
148                                         2312
149                                         1946
150                                          240
151                                          291
152                                          335

     Live outcome - Other Live Outcome Total-Canine  \
0                                                 6
1                                                 3
2                                                 4
3                                                90
4                                               808
..                                              ...
148                                               1
149                                             176
150                                             441
151                                               5
152                                               6

     Other Outcome - Died In Care Total-Canine  \
0                                            7
1                                            4
2                                           12
3                                          180
4                                          193
..                                         ...
148                                         67
149                                         56
150                                         12
151                                         11
152                                          9

     Other Outcome - Lost In Care Total-Canine  \
0                                            0
1                                            1
2                                            1
3                                            7
4                                           14
..                                         ...
148                                          9
149                                          2
150                                          2
151                                          0
152                                          0

     Other Outcome - Owner Intended Euthanasia Total-Canine  \
0                                                   80
1                                                  112
2                                                  149
3                                                    7
4                                                    0
..                                                 ...
148                                                  0
149                                                  1
150                                                 59
151                                                 32
152                                                 21

     Other Outcome - Shelter Euthanasia Total-Canine
0                                                 82
1                                                216
2                                                257
3                                               2994
4                                               3262
..                                               ...
148                                              147
149                                              150
150                                              117
151                                               93
152                                               89

[153 rows x 31 columns]>

In [6]:
df.drop(columns=['kennel', 'animalid', 'jurisdiction', 'sex', 'color', 'breed', 'sourcezipcode', 'ObjectId'], inplace=True)
df = df.dropna()
print (df)

          intype insubtype               indate   surreason   outtype  \
0          STRAY     FIELD  2021-02-21 00:00:00       STRAY       RTO
1      OWNER SUR     FIELD  2022-12-14 00:00:00       STRAY      EUTH
2      OWNER SUR       OTC  2021-01-19 00:00:00   OTHER PET  ADOPTION
3         FOSTER    RETURN  2021-01-22 00:00:00  OWNER DIED  TRANSFER
5      OWNER SUR  EUTH REQ  2021-09-03 00:00:00       BITES      EUTH
...          ...       ...                  ...         ...       ...
52660      STRAY       OTC  2024-08-16 00:00:00       STRAY       RTO
52661  OWNER SUR       OTC  2024-11-09 00:00:00    EUTH OLD      EUTH
52664      STRAY     FIELD  2024-12-28 00:00:00       STRAY       TNR
52665      STRAY       OTC  2024-11-25 00:00:00       STRAY  ADOPTION
52669      STRAY       OTC  2024-12-05 00:00:00       STRAY  ADOPTION

       outsubtype              outdate animaltype bites petsize
0       IN KENNEL  2021-02-21 00:00:00        DOG     N   LARGE
1       REQUESTED  2022-12-14 00:00:00        DOG     N     MED
2         WALK IN  2021-01-22 00:00:00        CAT     N   KITTN
3      RESCUE GRP  2021-01-23 00:00:00        DOG     N   SMALL
5       REQUESTED  2021-09-14 00:00:00        DOG     Y     MED
...           ...                  ...        ...   ...     ...
52660   IN KENNEL  2024-08-16 00:00:00        DOG     N   LARGE
52661   REQUESTED  2024-11-09 00:00:00        DOG     N     MED
52664   CARETAKER  2025-01-01 00:00:00        CAT     N     MED
52665       EVENT  2024-12-07 00:00:00        DOG     N   SMALL
52669     WALK IN  2025-01-03 00:00:00        CAT     N     MED

[32692 rows x 10 columns]

In [7]:
df['indate'] = pd.to_datetime(df['indate'])
df_remove =df[~df['indate'].dt.year.isin([2024, 2025])]
df['outdate'] = pd.to_datetime(df['outdate'])
df_remove =df[~df['outdate'].dt.year.isin([2024, 2025])]
print(df)

          intype insubtype     indate   surreason   outtype  outsubtype  \
0          STRAY     FIELD 2021-02-21       STRAY       RTO   IN KENNEL
1      OWNER SUR     FIELD 2022-12-14       STRAY      EUTH   REQUESTED
2      OWNER SUR       OTC 2021-01-19   OTHER PET  ADOPTION     WALK IN
3         FOSTER    RETURN 2021-01-22  OWNER DIED  TRANSFER  RESCUE GRP
5      OWNER SUR  EUTH REQ 2021-09-03       BITES      EUTH   REQUESTED
...          ...       ...        ...         ...       ...         ...
52660      STRAY       OTC 2024-08-16       STRAY       RTO   IN KENNEL
52661  OWNER SUR       OTC 2024-11-09    EUTH OLD      EUTH   REQUESTED
52664      STRAY     FIELD 2024-12-28       STRAY       TNR   CARETAKER
52665      STRAY       OTC 2024-11-25       STRAY  ADOPTION       EVENT
52669      STRAY       OTC 2024-12-05       STRAY  ADOPTION     WALK IN

         outdate animaltype bites petsize
0     2021-02-21        DOG     N   LARGE
1     2022-12-14        DOG     N     MED
2     2021-01-22        CAT     N   KITTN
3     2021-01-23        DOG     N   SMALL
5     2021-09-14        DOG     Y     MED
...          ...        ...   ...     ...
52660 2024-08-16        DOG     N   LARGE
52661 2024-11-09        DOG     N     MED
52664 2025-01-01        CAT     N     MED
52665 2024-12-07        DOG     N   SMALL
52669 2025-01-03        CAT     N     MED

[32692 rows x 10 columns]

##dff = pd.DataFrame(data)

word_to_drop = "Outcome"
df2 = df2.loc[:, ~df2.columns.str.contains(word_to_drop)]

##print("Updated colums")
##print(df2)

intake_columns = df2.filter(like='Intake' , axis=1)
df2['Total Intake'] = intake_columns.sum(axis=1)
print(df2)

df2_grouping = df2.groupby('State' , as_index=False)['Total Intake'].sum()
print("Grouped by state and sum total:")
print(df2_grouping)

In [8]:
df2.drop(columns=['Organizations', 'Year'], inplace=True)

print(df2)

    State  Intake - Relinquished By Owner Total-Feline  \
0      AK                                          886
1      AK                                         1128
2      AK                                          911
3      AL                                         1548
4      AL                                         1419
..    ...                                          ...
148    WV                                         1062
149    WV                                         1253
150    WY                                          975
151    WY                                         1135
152    WY                                         1302

     Intake - Stray At Large Total-Feline  \
0                                    1620
1                                    1878
2                                    1814
3                                    3414
4                                    3400
..                                    ...
148                                  4318
149                                  3823
150                                  1647
151                                  1985
152                                  2581

     Intake - Transferred In Total-Feline  \
0                                      85
1                                      51
2                                      45
3                                     707
4                                     816
..                                    ...
148                                   206
149                                   148
150                                   379
151                                   395
152                                   457

     Intake - Owner Intended Euthanasia Total-Feline  \
0                                                 37
1                                                 42
2                                                 42
3                                                  0
4                                                  3
..                                               ...
148                                                0
149                                                0
150                                               19
151                                               15
152                                               31

     Intakes - Other Intakes Total-Feline  \
0                                     133
1                                     146
2                                     122
3                                     644
4                                     503
..                                    ...
148                                   318
149                                   503
150                                   819
151                                   343
152                                   166

     Live Outcome - Adoption Total-Feline  \
0                                    2217
1                                    2158
2                                    2148
3                                    3816
4                                    4307
..                                    ...
148                                  2882
149                                  2955
150                                  2456
151                                  2673
152                                  3403

     Live Outcome - Returned To Owner Total-Feline  \
0                                              365
1                                              310
2                                              223
3                                               78
4                                               65
..                                             ...
148                                             91
149                                             33
150                                            271
151                                            269
152                                            214

     Live Outcome - Returned To Field Total-Feline  \
0                                                1
1                                                0
2                                                0
3                                              218
4                                               92
..                                             ...
148                                             56
149                                             23
150                                             15
151                                             54
152                                            152

     Live Outcome - Transferred Out Total-Feline  ...  \
0                                             70  ...
1                                             81  ...
2                                             36  ...
3                                            655  ...
4                                            479  ...
..                                           ...  ...
148                                         1976  ...
149                                         2136  ...
150                                          205  ...
151                                          167  ...
152                                          304  ...

     Intakes - Other Intakes Total-Canine  \
0                                     144
1                                     189
2                                     210
3                                    1953
4                                    2277
..                                    ...
148                                   534
149                                   613
150                                   656
151                                   474
152                                    99

     Live Outcome - Adoption Total-Canine  \
0                                     763
1                                    1106
2                                     993
3                                    6577
4                                    6681
..                                    ...
148                                  1787
149                                  2097
150                                  1894
151                                  2083
152                                  2114

     Live Outcome - Returned To Owner Total-Canine  \
0                                              948
1                                             1006
2                                              880
3                                             2101
4                                             2012
..                                             ...
148                                            826
149                                            644
150                                           1684
151                                           1645
152                                           1496

     Live Outcome - Returned To Field Total-Canine  \
0                                                0
1                                                0
2                                                0
3                                                1
4                                                0
..                                             ...
148                                              0
149                                              0
150                                              0
151                                              2
152                                              0

     Live Outcome - Transferred Out Total-Canine  \
0                                              3
1                                              1
2                                              8
3                                           3592
4                                           3190
..                                           ...
148                                         2312
149                                         1946
150                                          240
151                                          291
152                                          335

     Live outcome - Other Live Outcome Total-Canine  \
0                                                 6
1                                                 3
2                                                 4
3                                                90
4                                               808
..                                              ...
148                                               1
149                                             176
150                                             441
151                                               5
152                                               6

     Other Outcome - Died In Care Total-Canine  \
0                                            7
1                                            4
2                                           12
3                                          180
4                                          193
..                                         ...
148                                         67
149                                         56
150                                         12
151                                         11
152                                          9

     Other Outcome - Lost In Care Total-Canine  \
0                                            0
1                                            1
2                                            1
3                                            7
4                                           14
..                                         ...
148                                          9
149                                          2
150                                          2
151                                          0
152                                          0

     Other Outcome - Owner Intended Euthanasia Total-Canine  \
0                                                   80
1                                                  112
2                                                  149
3                                                    7
4                                                    0
..                                                 ...
148                                                  0
149                                                  1
150                                                 59
151                                                 32
152                                                 21

     Other Outcome - Shelter Euthanasia Total-Canine
0                                                 82
1                                                216
2                                                257
3                                               2994
4                                               3262
..                                               ...
148                                              147
149                                              150
150                                              117
151                                               93
152                                               89

[153 rows x 29 columns]

I am going to combine all the intake columns into one, and do the same for the outtake columns.  I did use AI to help with this.

In [9]:
intake_columns = [col for col in df2.columns if 'Intake' in col]
df2['Combined_National_Intake'] = df2[intake_columns].sum(axis=1)
outtake_columns = [col for col in df2.columns if 'Outcome' in col]
df2['Combined_National_Outcome'] = df2[outtake_columns].sum(axis=1)
print(df2)

    State  Intake - Relinquished By Owner Total-Feline  \
0      AK                                          886
1      AK                                         1128
2      AK                                          911
3      AL                                         1548
4      AL                                         1419
..    ...                                          ...
148    WV                                         1062
149    WV                                         1253
150    WY                                          975
151    WY                                         1135
152    WY                                         1302

     Intake - Stray At Large Total-Feline  \
0                                    1620
1                                    1878
2                                    1814
3                                    3414
4                                    3400
..                                    ...
148                                  4318
149                                  3823
150                                  1647
151                                  1985
152                                  2581

     Intake - Transferred In Total-Feline  \
0                                      85
1                                      51
2                                      45
3                                     707
4                                     816
..                                    ...
148                                   206
149                                   148
150                                   379
151                                   395
152                                   457

     Intake - Owner Intended Euthanasia Total-Feline  \
0                                                 37
1                                                 42
2                                                 42
3                                                  0
4                                                  3
..                                               ...
148                                                0
149                                                0
150                                               19
151                                               15
152                                               31

     Intakes - Other Intakes Total-Feline  \
0                                     133
1                                     146
2                                     122
3                                     644
4                                     503
..                                    ...
148                                   318
149                                   503
150                                   819
151                                   343
152                                   166

     Live Outcome - Adoption Total-Feline  \
0                                    2217
1                                    2158
2                                    2148
3                                    3816
4                                    4307
..                                    ...
148                                  2882
149                                  2955
150                                  2456
151                                  2673
152                                  3403

     Live Outcome - Returned To Owner Total-Feline  \
0                                              365
1                                              310
2                                              223
3                                               78
4                                               65
..                                             ...
148                                             91
149                                             33
150                                            271
151                                            269
152                                            214

     Live Outcome - Returned To Field Total-Feline  \
0                                                1
1                                                0
2                                                0
3                                              218
4                                               92
..                                             ...
148                                             56
149                                             23
150                                             15
151                                             54
152                                            152

     Live Outcome - Transferred Out Total-Feline  ...  \
0                                             70  ...
1                                             81  ...
2                                             36  ...
3                                            655  ...
4                                            479  ...
..                                           ...  ...
148                                         1976  ...
149                                         2136  ...
150                                          205  ...
151                                          167  ...
152                                          304  ...

     Live Outcome - Returned To Owner Total-Canine  \
0                                              948
1                                             1006
2                                              880
3                                             2101
4                                             2012
..                                             ...
148                                            826
149                                            644
150                                           1684
151                                           1645
152                                           1496

     Live Outcome - Returned To Field Total-Canine  \
0                                                0
1                                                0
2                                                0
3                                                1
4                                                0
..                                             ...
148                                              0
149                                              0
150                                              0
151                                              2
152                                              0

     Live Outcome - Transferred Out Total-Canine  \
0                                              3
1                                              1
2                                              8
3                                           3592
4                                           3190
..                                           ...
148                                         2312
149                                         1946
150                                          240
151                                          291
152                                          335

     Live outcome - Other Live Outcome Total-Canine  \
0                                                 6
1                                                 3
2                                                 4
3                                                90
4                                               808
..                                              ...
148                                               1
149                                             176
150                                             441
151                                               5
152                                               6

     Other Outcome - Died In Care Total-Canine  \
0                                            7
1                                            4
2                                           12
3                                          180
4                                          193
..                                         ...
148                                         67
149                                         56
150                                         12
151                                         11
152                                          9

     Other Outcome - Lost In Care Total-Canine  \
0                                            0
1                                            1
2                                            1
3                                            7
4                                           14
..                                         ...
148                                          9
149                                          2
150                                          2
151                                          0
152                                          0

     Other Outcome - Owner Intended Euthanasia Total-Canine  \
0                                                   80
1                                                  112
2                                                  149
3                                                    7
4                                                    0
..                                                 ...
148                                                  0
149                                                  1
150                                                 59
151                                                 32
152                                                 21

     Other Outcome - Shelter Euthanasia Total-Canine  \
0                                                 82
1                                                216
2                                                257
3                                               2994
4                                               3262
..                                               ...
148                                              147
149                                              150
150                                              117
151                                               93
152                                               89

     Combined_National_Intake  Combined_National_Outcome
0                        4675                       4769
1                        5683                       5630
2                        5212                       5167
3                       21617                      22304
4                       22100                      22731
..                        ...                        ...
148                     11032                      10984
149                     10647                      10747
150                      7856                       8414
151                      7777                       7914
152                      8386                       8624

[153 rows x 31 columns]

In [10]:
df2_grouping = df2.groupby('State' , as_index=False)['Combined_National_Intake'].sum()
df2_grouping2 = df2.groupby('State' , as_index=False)['Combined_National_Outcome'].sum()
df2_grouped = pd.merge(df2_grouping, df2_grouping2, on='State')
print("Grouped by state and sum total:")
print(df2_grouped)

Grouped by state and sum total:
   State  Combined_National_Intake  Combined_National_Outcome
0     AK                     15570                      15566
1     AL                     66126                      68283
2     AR                     36446                      36171
3     AZ                    246363                     253112
4     CA                    950787                     940923
5     CO                    265431                     266580
6     CT                     13538                      12989
7     DE                      5000                       5137
8     FL                    447934                     454275
9     GA                    190386                     185596
10    HI                     62703                      59591
11    IA                     65672                      65714
12    ID                     88248                      90358
13    IL                    129721                     128598
14    IN                    153953                     154246
15    KS                     88710                      90814
16    KY                    105607                     102099
17    LA                    111638                     111477
18    MA                     65283                      62727
19    MD                     74522                      73274
20    ME                     25901                      26152
21    MI                    145955                     140929
22    MN                     92182                      95081
23    MO                     89126                     108660
24    MS                     64620                      64896
25    MT                     57608                      58116
26    NC                    195226                     197952
27    ND                     21492                      21394
28    NE                     62113                      64147
29    NH                     20583                      20809
30    NJ                    100814                      97289
31    NM                     88984                      84807
32    NV                    104150                     111935
33    NY                    146708                     144283
34    OH                    145556                     147897
35    OK                     61883                      65310
36    OR                     82310                      84084
37    PA                    140706                     138896
38    PR                      3581                       3283
39    RI                     19929                      20368
40    SC                    133266                     131034
41    SD                      3134                       3170
42    TN                    163436                     163443
43    TX                    625174                     617459
44    UT                    104280                     109081
45    VA                    146001                     142856
46    VT                      8932                       8938
47    WA                    213573                     219648
48    WI                    160564                     159909
49    WV                     33547                      33529
50    WY                     24019                      24952

In [11]:
# You might want to add a prefix or suffix to each dataset's columns for clarity
df.columns = ['Louisville_' + col for col in df.columns]
df3.columns = ['Dallas_' + col for col in df3.columns]

# Now concatenate
merged_df = pd.concat([df, df3], axis=1)

# Display the merged result
print(merged_df)

      Louisville_intype Louisville_insubtype Louisville_indate  \
0                 STRAY                FIELD        2021-02-21
1             OWNER SUR                FIELD        2022-12-14
2             OWNER SUR                  OTC        2021-01-19
3                FOSTER               RETURN        2021-01-22
5             OWNER SUR             EUTH REQ        2021-09-03
...                 ...                  ...               ...
34789               NaN                  NaN               NaT
34791               NaN                  NaN               NaT
34798               NaN                  NaN               NaT
34803               NaN                  NaN               NaT
34804               NaN                  NaN               NaT

      Louisville_surreason Louisville_outtype Louisville_outsubtype  \
0                    STRAY                RTO             IN KENNEL
1                    STRAY               EUTH             REQUESTED
2                OTHER PET           ADOPTION               WALK IN
3               OWNER DIED           TRANSFER            RESCUE GRP
5                    BITES               EUTH             REQUESTED
...                    ...                ...                   ...
34789                  NaN                NaN                   NaN
34791                  NaN                NaN                   NaN
34798                  NaN                NaN                   NaN
34803                  NaN                NaN                   NaN
34804                  NaN                NaN                   NaN

      Louisville_outdate Louisville_animaltype Louisville_bites  \
0             2021-02-21                   DOG                N
1             2022-12-14                   DOG                N
2             2021-01-22                   CAT                N
3             2021-01-23                   DOG                N
5             2021-09-14                   DOG                Y
...                  ...                   ...              ...
34789                NaT                   NaN              NaN
34791                NaT                   NaN              NaN
34798                NaT                   NaN              NaN
34803                NaT                   NaN              NaN
34804                NaT                   NaN              NaN

      Louisville_petsize Dallas_Animal Type Dallas_Animal Breed  \
0                  LARGE                DOG       LABRADOR RETR
1                    MED                DOG         MIXED BREED
2                  KITTN                DOG         MIXED BREED
3                  SMALL                DOG          POODLE MIN
5                    MED                CAT         DOMESTIC SH
...                  ...                ...                 ...
34789                NaN                DOG         MIXED BREED
34791                NaN                DOG         MIXED BREED
34798                NaN                CAT         DOMESTIC SH
34803                NaN                CAT         DOMESTIC SH
34804                NaN                CAT         DOMESTIC SH

      Dallas_Intake Type Dallas_Intake Subtype Dallas_Intake Date  \
0             DISPOS REQ                   OTC         03/01/2023
1        OWNER SURRENDER               APPOINT         07/05/2023
2                  STRAY              AT LARGE         01/15/2023
3                  STRAY              AT LARGE         03/09/2023
5        OWNER SURRENDER                URGENT         08/31/2023
...                  ...                   ...                ...
34789              STRAY              AT LARGE         06/01/2023
34791             FOSTER               APPOINT         06/26/2023
34798          TREATMENT               ILLNESS         06/25/2023
34803          TREATMENT               ILLNESS         07/06/2023
34804             FOSTER               APPOINT         07/10/2023

      Dallas_Outcome Type Dallas_Outcome Subtype Dallas_Month Dallas_Year
0                DISPOSAL               DISPOSAL       FY2024      FY2023
1                ADOPTION             WESTMORELD       FY2024      FY2023
2       RETURNED TO OWNER             WESTMORELD       FY2024      FY2023
3                TRANSFER                MEDICAL       FY2024      FY2023
5              EUTHANIZED                 HUMANE       FY2024      FY2023
...                   ...                    ...          ...         ...
34789          EUTHANIZED                  SPACE       FY2024      FY2023
34791            ADOPTION              BY FOSTER       FY2024      FY2023
34798           TREATMENT              COMPLETED       FY2024      FY2023
34803           TREATMENT              COMPLETED       FY2024      FY2023
34804          EUTHANIZED                MEDICAL       FY2024      FY2023

[46116 rows x 19 columns]

combined_df = pd.concat([df, df3], axis=0, ignore_index=True)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
print(combined_df)

combined_df_filled = combined_df.fillna("")
print(combined_df_filled)

In [12]:
merged_df.to_csv('combined_data5.csv', index=False)

In [19]:
louisville_animal_count = merged_df['Louisville_animaltype'].value_counts()
dallas_animal_count = merged_df['Dallas_Animal Type'].value_counts()
print("Louisville Animal Type Counts:")
print(louisville_animal_count)
print("\nDallas Animal Type Counts:")
print(dallas_animal_count)

Louisville Animal Type Counts:
Louisville_animaltype
DOG           18978
CAT           13051
RABBIT          295
OTHER           232
BIRD             77
LIVESTOCK        33
GUINEA PIG       26
Name: count, dtype: int64

Dallas Animal Type Counts:
Dallas_Animal Type
DOG          22924
CAT           7685
BIRD          3396
WILDLIFE       772
LIVESTOCK       29
Name: count, dtype: int64

In [24]:
louisville_mode = merged_df['Louisville_animaltype'].mode()[0]
dallas_mode = merged_df['Dallas_Animal Type'].mode()[0]

print(f"Most common Louisville Animal Type: {louisville_mode}")
print(f"Most common Dallas Animal Type: {dallas_mode}")

Most common Louisville Animal Type: DOG
Most common Dallas Animal Type: DOG