The following are data dictionaries of the three datasets included in this project.

In [8]:
import pandas as pd

df1 = pd.read_excel("Louisville-DD.xlsx")
df2 = pd.read_excel("Dallas-DD.xlsx")
df3 = pd.read_excel("Nationwide-DD.xlsx")

In [9]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

print("Louisville Data Dictionary:")
display(df1)

Louisville Data Dictionary:

,Column,Data Type,Description
0,kennel,String,Kennel ID (unique to each animal)
1,animalid,String,Animal ID (unique to each animal)
2,jurisdiction,String,Area where the dog was received at.
3,intype,String,Intake Type
4,insubtype,String,Intake Sub-Type (more detailed)
5,indate,String,Date when animal was received.
6,surreason,String,Surrender reason (if applicable)
7,outtype,String,Outcome Type
8,outsubtype,String,Outcome Sub-Type (more detailed)
9,outdate,String,Date animal left shelter.
10,animaltype,String,"Type of animal (Cat, dog, etc.)"
11,sex,String,"Sex of the animal (Male, Female, Neutered, Spayed)"
12,bites,String,Has the dog ever bitten?
13,petsize,String,"Various size of animal (small, medium, large)"
14,color,String,Color of the animal.
15,breed,String,Animal breed.
16,sourcezipcode,String,Zip code where the animal was received.
17,ObjectId,Integer,"Unique identifier for this dataset, pertinent to the source."

In [10]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)

print("Dallas Data Dictionary:")
display(df2)

Dallas Data Dictionary:

                    Column Data Type                                               Description
0                Animal Id    String                          Unique identifier for the source
1              Animal Type    String                           Type of animal (Cat, dog, etc.)
2             Animal Breed    String                                              Animal Breed
3            Kennel Number    String         Location wher the animal is in the animal shelter
4            Kennel Status    String                                      Status of the kennel
5          Activity Number    String                          Unique identifier for the source
6        Activity Sequence   Integer  Order of Activities for the intake/outtake of the animal
7                Source Id    String                          Unique identifier for the source
8             Census Tract    String                  Census Tract associated with the animal.
9         Council District    String               Where the animal was found (which district)
10             Intake Type    String                      Intake Type (Stray, owner initiated)
11          Intake Subtype    String                   Intake Sub-Type (additonal information)
12            Intake Total   Integer                                  Total number of intakes.
13                  Reason    String                                    Reason for the intake.
14                Staff Id    String                          Unique identifier for the source
15             Intake Date    String                              Date the animal was taken in
16             Intake Time    String                              Time the animal was taken in
17                 Due Out    String                     When the animal is expected to leave.
18        Intake Condition    String                        Condition of the animal at intake.
19            Hold Request    String                   Tells if there is a hold on the animal.
20            Outcome Type    String                 Outcome Type (Adoption, Euthanasia, etc.)
21         Outcome Subtype    String                 Outcome Sub-Type (additional information)
22            Outcome Date    String                         Date the animal left the shelter.
23            Outcome Time    String                         Time the animal left the shelter.
24          Receipt Number    String               Transaction number specific for the source.
25          Impound Number    String     Number of impounded animals. (animal shelter custody)
26  Service Request Number    String                     Number unique to the service request.
27       Outcome Condition    String                       Condition of the animal at outcome.
28             Chip Status    String                                         Microchip status.
29           Animal Origin    String                                Where the animal was found
30  Additional Information    String                                        Any extra details.
31                   Month    String                           Month of the intake or outcome.
32                    Year    String                            Year of the intake or outcome.

In [11]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)

print("Nationwide Data Dictionary:")
display(df3)

Nationwide Data Dictionary:

                                               Column name Data Type                                                                                Description
0                                                    State    String                                                       The state the data is received from.
1                                                     Year   Integer                                                        The year the data is received from.
2                                            Organizations   Integer                                               The organizations the data is received from.
3              Intake - Relinquished By Owner Total-Feline   Integer                                Animal shelter intake counts of cats relinquished by owner.
4                     Intake - Stray At Large Total-Feline   Integer                                                Animal shelter intake counts of stray cats.
5                     Intake - Transferred In Total-Feline   Integer                 Animal shelter intake counts of cats that were transferred from elsewhere.
6          Intake - Owner Intended Euthanasia Total-Feline   Integer               Animal Shelter intake counts of cats who their owners requested euthanasia.
7                     Intakes - Other Intakes Total-Feline   Integer                           Animal shelter intake counts of cats received in all other ways.
8                     Live Outcome - Adoption Total-Feline   Integer                                             Animal shelter outcome counts of cats adopted.
9            Live Outcome - Returned To Owner Total-Feline   Integer                             Animal shelter outcome counts of cats returned to their owner.
10           Live Outcome - Returned To Field Total-Feline   Integer                             Animal shelter outcome counts of cats returned to the outside.
11             Live Outcome - Transferred Out Total-Feline   Integer                               Animal shelter outcome counts of cats transferred elsewhere.
12          Live outcome - Other Live Outcome Total-Feline   Integer                              Animal shelter outcome counts of cats moved in any other way.
13               Other Outcome - Died In Care Total-Feline   Integer                            Animal shelter outcome counts of cats that died in the shelter.
14               Other Outcome - Lost In Care Total-Feline   Integer                     Animal shelter outcome counts of cats that were lost from the shelter.
15  Other Outcome - Owner Intended Euthanasia Total-Feline   Integer    Animal shelter outcome counts of cats who were euthanized at the request of the owner.
16         Other Outcome - Shelter Euthanasia Total-Feline   Integer  Animal shelter outcome counts of cats who were euthanized at the request of the shelter.
17             Intake - Relinquished By Owner Total-Canine   Integer                                Animal shelter intake counts of dogs relinquished by owner.
18                    Intake - Stray At Large Total-Canine   Integer                                                Animal shelter intake counts of stray dogs.
19                    Intake - Transferred In Total-Canine   Integer                 Animal shelter intake counts of dogs that were transferred from elsewhere.
20         Intake - Owner Intended Euthanasia Total-Canine   Integer               Animal Shelter intake counts of dogs who their owners requested euthanasia.
21                    Intakes - Other Intakes Total-Canine   Integer                           Animal shelter intake counts of dogs received in all other ways.
22                    Live Outcome - Adoption Total-Canine   Integer                                             Animal shelter outcome counts of dogs adopted.
23           Live Outcome - Returned To Owner Total-Canine   Integer                             Animal shelter outcome counts of dogs returned to their owner.
24           Live Outcome - Returned To Field Total-Canine   Integer                             Animal shelter outcome counts of dogs returned to the outside.
25             Live Outcome - Transferred Out Total-Canine   Integer                               Animal shelter outcome counts of dogs transferred elsewhere.
26          Live outcome - Other Live Outcome Total-Canine   Integer                              Animal shelter outcome counts of dogs moved in any other way.
27               Other Outcome - Died In Care Total-Canine   Integer                            Animal shelter outcome counts of dogs that died in the shelter.
28               Other Outcome - Lost In Care Total-Canine   Integer                     Animal shelter outcome counts of dogs that were lost from the shelter.
29  Other Outcome - Owner Intended Euthanasia Total-Canine   Integer    Animal shelter outcome counts of dogs who were euthanized at the request of the owner.
30         Other Outcome - Shelter Euthanasia Total-Canine   Integer  Animal shelter outcome counts of dogs who were euthanized at the request of the shelter.